@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aside {
  display: flex;
  position: fixed;
  align-items: center;
  left: 20px;
  top: 0;
  height: 100vh;
  z-index: 10000;
}
.sidebar {

  background:#1990ff;
  height: 106vh;
  padding: 20px;
  transform: translate(-20px,0px);
  width: 250px;
  color: #fff;
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
  transition: all 0.5s;
}
.sidebar:hover {
background-color: #000000;
}


.sidebar h1 {
  margin-top: 12%;
  text-align: center;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 25px;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

.sidebar h2 {
  display: none;
  margin-top: 12%;
  text-align: center;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 25px;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

/*! Form Alanı */
form {
  display: none;
  flex-direction: column;
  gap: 20px;
}
form .field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form .field input,
select {
  border: none;
  outline: none;
  padding: 10px;
  
}
form button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 6px;
  border-radius: 25px;
  background-color: rgb(43, 75, 255);
  color: #fff;
  font-weight: bold;
  transition:  0.5s;
}

button:hover{
  background-color: rgb(255, 255, 255);
  color: #000000;
}
/*! Liste Alanı */
ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  margin-top: 10px;
  overflow: auto;
  height: 100%;
  padding-right: 10px;
}
ul::-webkit-scrollbar {
  background: black;
  border-radius: 10px;
  width: 12.5px;
}
ul::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
li {
  background: #1990ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  transition: all 0.5s;
}

li:hover{
  background-color: #64afff;
}

li div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
li div p {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
li div p span {
  font-weight: 900;
}
li #delete {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  margin: 3px;
  border-radius: 50%;
  transition: all 0.3s;
}
li #delete:hover {
  background: rgba(46, 46, 46, 0.5);
  color: red;
  cursor: pointer;
}
li #fly {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  margin: 3px;
  border-radius: 50%;
  transition: all 0.3s;
}
li #fly:hover {
  cursor: pointer;
  background: rgba(46, 46, 46, 0.5);
  color: rgb(255, 255, 255);
}

#map {
  height: 100vh;
}


@media screen and (max-width: 768px) {
  aside {
    transform: translate(0px,233%);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 30vh; /* Ekran yüksekliğinin maksimum %80'i kadar */
    overflow-y: auto; /* İçeriğin aşağı kaydırılabilmesi için */
    background-color: #1990ff;
    z-index: 1000; /* Haritanın üzerinde olması için z-index */
    transition: 0.5s;
  }

  .sidebar {
    transform: translate(0.0%);
    margin: auto  !important;
    background-color: #1990ff;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }


  aside:hover{
    background-color: #000000;
  }
  .sidebar h1 {
    display: none; /* Başlık mobilde görünmeyecek */
  }
  .sidebar h2 {
    display:inline-block; /* Başlık mobilde görünmeyecek */
    margin-top: 0px;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  form .field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  form .field input,
  form .field select {
    width: 100%;
    max-width: 250px; /* Maksimum genişlik */
  }
  form button {
    width: 100%;
    max-width: 250px; /* Maksimum genişlik */
  }
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 10px;
  }
  ul li {
    width: 100%;
    max-width: 250px; /* Maksimum genişlik */
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1990ff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul li div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  ul li div p {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  ul li div p span {
    font-weight: bold;
  }
}